.chores {
    color: #ff4f33;
}

.doneChores {
    color: #3c79b8;
}

h3 {
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}
#harder { color: violet; text-align: center; font-weight: bolder; font-size: larger; }

#done { color: darkred; font-weight: bolder; text-align: center; }

#notreat { text-align: left; color: green; font-size: 1.5vw; }